html,
body {
  height: 100%;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $default;
  background-color: $bg-default;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-family: "Ruda", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    padding: 70px 0 30px 0;
    text-align: center;
    color: $title;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle{
  font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color 0.3s;
}