$default: #505050;
$bg-default: #F5F5F5;
$title: #121212;
$bg: #31352B;
$black: #000;
$white: #fff;
$green: #63A60F;
$green-focus: #B1D387;
$green-hover: #4D800C;
$green-black:#396008;
$green-dirty: #E0EDCF;
$red: #CF3E3B;
$white-light: rgba(255, 255, 255, 0.1);
$grey-hover: rgba(0, 0, 0, 0.1);
$grey: #989A95;
$slider: rgba(255, 255, 255, 0.8);
$grey-light: rgba(255, 255, 255, 0.5);
$grey-shadow: rgba(0, 0, 0, 0.25);
$grey-border: #c1c1c1;
$placeholder: #4F4F4F;
$box-shadow: #EFF6E7;
$focus-bg:#F2F2F2;
$active-bg:#F3F3F2;
$orange: #FF7A00;
$yellow: #FFB800;
$yellow-light: rgba(255, 184, 0, 0.5);

// %ruda-600 {
//   font-family: 'Ruda-SemiBold', sans-serif;
//   font-weight: 600;
// }

// %ruda-900 {
//   font-family: 'Ruda-Black', sans-serif;
//   font-weight: 900;
// }