@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__top {
    background-color: $bg;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      padding-right: 24px;
    }

    &--phone {
      margin-right: auto;
    }

    &--address {
      margin-left: 43px;
      margin-right: 48px;
      display: flex;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: -45px;
        width: 34px;
        height: 23px;
        background-image: url("../images/icons/icon-address.svg");
      }
    }

    &--phone {
      display: flex;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: -33px;
        width: 29px;
        height: 24px;
        background-image: url("../images/icons/icon-tel.svg");
      }
    }
  }

  &__link {
    text-transform: uppercase;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $box-shadow;
      border-radius: 3px;
    }

    &:active {
      color: $green-dirty;
    }
  }

  &__bottom {
    background-color: $green;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  &__catalog {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    max-width: 240px;
    width: 100%;
    padding: 16px 38px 16px 55px;
    border-radius: 6px;
    color: $green;
    font-weight: 600;
    position: relative;
    transition: background-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 16px;
      width: 25px;
      height: 17px;
      background-image: url("../images/icons/icon-nav.svg");
    }

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 22px;
      width: 8px;
      height: 4px;
      background-image: url("../images/icons/icon-arrow.svg");
    }

    &:hover,
    &:active {
      background-color: $green-dirty;
    }
  }

  &__search {
    display: flex;
    max-width: 580px;
    width: 100%;
    background-color: $white;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 14px;
      width: 21px;
      height: 20px;
      background-image: url("../images/icons/icon-search.svg");
    }
  }

  &__input {
    outline: transparent;
    border: none;
    padding-left: 55px;
    border-radius: 6px;
  }

  &__submit {
    text-transform: uppercase;
    padding: 15px 50px;
    align-items: center;
    color: $white;
    display: flex;
    max-width: 144px;
    width: 100%;
    background-color: $bg;
    border: none;
    height: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      font-weight: 600;
      background-color: $bg;
      opacity: 1;
      color: $grey;
    }

    &:focus {
      border-radius: 0px 6px 6px 0px;
      box-shadow: 0px 0px 0px 4px $grey-light;
      opacity: 1;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: $white-light;
      border-radius: 3px;
    }

    &--user {
      width: 50px;
      height: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 12px;
        width: 25px;
        height: 32px;
        background-image: url("../images/icons/icon-user.svg");
      }
    }

    &--heart {
      width: 50px;
      height: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 13px;
        right: 9px;
        width: 32px;
        height: 28px;
        background-image: url("../images/icons/icon-heart.svg");
      }
    }

    &--cart {
      width: 50px;
      height: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        right: 9px;
        width: 32px;
        height: 31px;
        background-image: url("../images/icons/icon-cart.svg");
      }
    }
  }

  &__num {
    font-weight: 600;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    top: 5px;
    right: 30px;
    font-size: 10px;
    color: $red;
    text-align: center;
    line-height: 18px;
    align-items: center;
  }
}

.slider {
  &__box {
    display: flex;
  }
  &__item {
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 600px;
    height: 100vh;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $slider;
    border-radius: 6px;
    max-width: 1290px;
    width: 100%;
    max-height: 340px;
  }

  &__arrow--left.slick-arrow,
  &__arrow--right.slick-arrow {
    position: absolute;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-dirty;
    }

    &:focus {
      background-color: $focus-bg;
      box-shadow: 0px 0px 0px 3px $green;
      border-radius: 6px;
    }

    &:active {
      background-color: $active-bg;
    }
  }

  &__arrow--left.slick-arrow {
    top: 250px;
    left: 60px;
  }

  &__arrow--right.slick-arrow {
    top: 250px;
    right: 60px;
  }

  &__arrow--left,
  &__arrow--right {
    width: 60px;
    height: 60px;
    background-color: $slider;
    border-radius: 6px;
    position: relative;
    z-index: 10;
  }

  &__arrow--left:before,
  &__arrow--left:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: $default;
    top: 52%;
    left: 80%;
  }

  &__arrow--left:before {
    transform-origin: 100% -50%;
    transform: translate(-75%, -50%) rotate(45deg);
  }

  &__arrow--left:after {
    transform-origin: 100% 150%;
    transform: translate(-75%, -50%) rotate(-45deg);
  }

  &__arrow--right:before,
  &__arrow--right:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: $default;
    top: 50%;
    left: 20%;
  }

  &__arrow--right:before {
    transform-origin: 100% 170%;
    transform: translate(-75%, -50%) rotate(45deg);
  }

  &__arrow--right:after {
    transform-origin: 100% -70%;
    transform: translate(-75%, -50%) rotate(-45deg);
  }

  &__arrow:hover:before,
  &__arrow:hover:after,
  &__arrow:active:before,
  &__arrow:active:after {
    background-color: $green;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    font-family: "Ruda", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 850px;
    width: 100%;
    margin-top: 24px;
    margin-left: 24px;

    &--extra {
      color: $red;
    }
  }

  &__text {
    margin-top: 12px;
    margin-left: 24px;
    font-size: 16px;
    line-height: 1.4;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    justify-self: flex-start;
    margin: 32px auto 24px 24px;
    border-radius: 6px;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    transition: background-color 0.3s;
    color: $white;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      background-color: $green;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $grey-light;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
    }
  }
}

.advantages {
  &__items {
    display: flex;
    justify-content: space-around;
    line-height: 1.4;
    padding-top: 48px;
    padding-bottom: 30px;
  }

  &__item {
    max-width: 265px;
    width: 100%;
    padding-left: 85px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &--scooter::before {
      background-image: url("../images/icons/icon-scooter.svg");
    }

    &--return::before {
      background-image: url("../images/icons/icon-return.svg");
    }

    &--export::before {
      background-image: url("../images/icons/icon-export24.svg");
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $title;
    margin-bottom: 6px;
  }
}

.top {
  background-color: $white;

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 24px;
    }
    &:hover {
      color: $green;
    }
    &:focus {
      color: $default;
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }
    &:active {
      box-shadow: 0px 3px 0px 0px $green-dirty;
    }
  }
  .mixitup-control-active {
    box-shadow: 0px 3px 0px 0px $green-dirty;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding-bottom: 48px;
  }

  &__item {
    max-width: 300px;
    width: 100%;
    height: 409px;
    border: 1px solid $grey-border;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    position: relative;
    transition: opacity border color 0.3s;

    &--new::before {
      content: "НОВИНКА";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $green;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }

    &--hit::before {
      content: "ХИТ";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $orange;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }

    &--sale30::before {
      content: "-30%";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $red;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }

    &--sale50::after {
      content: "-50%";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $red;
      padding: 3px 6px;
      border-radius: 6px;
      top: 34px;
      left: 12px;
    }

    &:hover {
      border: 1px solid $green;
      .top__search::before {
        opacity: 1;
        z-index: 10;
      }
      .top__image {
        background-color: $grey-hover;
      }
    }
  }

  &__favorite {
    align-self: end;
    transition: color 0.3s;

    &:hover path {
      fill: $yellow;
    }
    &:focus {
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }
    &:active path {
      fill: $yellow-light;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 36px);
    margin: 0 -18px;
  }

  &__img {
    background-color: transparent;
    opacity: 0.5;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    position: relative;
    transition: opacity 0.3s;

    &::before {
      content: "";
      position: absolute;
      background-color: $white;
      border-radius: 50%;
      background-image: url("../images/top/search-btn.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 48px;
      height: 48px;
      top: 86px;
      right: 126px;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &__text {
    color: $title;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.03em;
    max-height: 65px;
    height: 100%;
    max-width: 257px;
    width: 100%;
    margin-bottom: 9px;
    margin-top: 18px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__oldPrice {
    color: $grey;
    position: relative;

    &::before {
      border-bottom: 1px solid $grey;
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      transform: rotate(-10deg);
    }
  }

  &__cart {
    background-color: $green;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-hover;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
      border-radius: 3px;
    }
    &:active {
      box-shadow: inset 0px 4px 4px $grey-shadow;
      path {
        fill: $grey-light;
      }
    }
  }

  &__add {
    font-size: 18px;
    line-height: 1.3;
    color: $green;
    letter-spacing: 0.03em;
    padding: 12px 26px;
    border: 1px solid $green;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background-color box-shadow 0.3s;

    &:hover {
      background-color: $box-shadow;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-focus;
    }

    &:active {
      box-shadow: inset 0px 10px 4px $grey-hover;
    }
  }
}

.banners {
  background-color: $white;
  padding: 72px 0;
  &__inner {
    width: 300px;
    display: grid;
    grid-template-columns: 630px 300px 300px;
    grid-gap: 30px;
  }

  &__item {
    height: 300px;
    padding: 76px 80px 76px 32px;

    &:hover,
    &:focus,
    &:active {
      .banners__text,
      .banners__title,
      .banners__link {
        color: $white;
        text-shadow: 1px 1px 0px $grey-shadow;
      }
      .banners__link {
        border-bottom: solid 2px $white;
      }
    }
    &--1 {
      background-image: url("../images/banners/1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding-right: 205px;
    }
    &--2 {
      background-image: url("../images/banners/2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    &--3 {
      background-image: url("../images/banners/3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 18px;
    transition: color 0.3s;
  }
  &__title {
    font-family: "Ruda-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 12px;
    transition: color 0.3s;
  }
  &__link {
    font-weight: 700;
    line-height: 1;
    padding-bottom: 6px;
    border-bottom: solid 2px $default;
    transition: color 0.3s;
  }
}

.promo {
  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      color: $green;
    }
    &:focus {
      color: $default;
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }
    &:active {
      box-shadow: 0px 3px 0px 0px $green-dirty;
    }
  }
  .mixitup-control-active {
    box-shadow: 0px 3px 0px 0px $green-dirty;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding-bottom: 48px;
  }

  &__card {
    max-width: 300px;
    width: 100%;
    max-height: 124px;
    height: 100%;
    border: 1px solid $grey-border;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: $white;
    padding: 12px;
    transition: border 0.3s;

    &--new::before {
      content: "НОВИНКА";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $green;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }

    &--hit::before {
      content: "ХИТ";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $orange;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }
    &:hover {
      border: 1px solid $green;
    }
  }

  &__left {
    max-width: 100px;
    width: 100%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    max-width: 164px;
    width: 100%;
  }
  &__titel {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 7px;
    color: $title;
    height: 58px;
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    color: $green;
    padding-bottom: 5px;
    &--close {
      color: $red;
    }
    &--ended {
      color: $grey-border;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
  }
  &__newPrice {
    font-size: 20px;
    line-height: 100%;
  }

  &__oldPrice {
    color: $grey;
    position: relative;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;

    &::before {
      border-bottom: 1px solid $grey;
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      transform: rotate(-10deg);
    }
  }
  &__star {
    line-height: 1;
    font-weight: 700;
    position: relative;
    &::after {
      position: absolute;
      background-image: url("../images/promo/star.svg");
      content: "";
      width: 16px;
      height: 16px;
      top: -2px;
      left: 25px;
    }
  }

  &__add {
    position: relative;
    background-color: $green;
    margin: 48px 0 72px;
    border-radius: 6px;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: $white;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      background-color: $green;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $grey-light;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
    }
  }
}

.footer {
  background-color: $bg;
  color: $white;

  &__top {
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
  }

  &__content {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__border {
    border: 1px solid $white-light;
  }

  &__news {
    display: flex;
    flex-direction: column;
  }

  &__text {
    padding-bottom: 18px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  &__btn {
    background-color: $green;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;
    transition: all 0.3s;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      background-color: $green-black;
      box-shadow: inset 0px 4px 4px $grey-shadow;
      color: $grey-light;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
      border-radius: 0px 6px 6px 0px;
    }
  }

  &__input {
    background-color: $white;
    max-width: 180px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px 0px 0px 6px;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 465px;
    width: 100%;
    max-height: 105px;
    height: 100%;
  }

  &__item {
    padding-bottom: 18px;
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    margin-bottom: 18px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .social {
    display: flex;
    color: $white;

    &__item {
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__bottom {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 30px 0;
  }

  &__copy {
    text-transform: uppercase;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
  }

  &__card:not(:last-child) {
    margin-right: 24px;
  }
}

@import "media";
