@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__top {
    background-color: $bg;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      padding-right: 24px;
    }

    &--address {
      padding-left: 44px;
      margin-right: 48px;
      display: flex;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 34px;
        height: 23px;
        background-image: url("../images/icons/icon-address.svg");
      }
    }

    &--phone {
      padding-left: 33px;
      display: flex;
      position: relative;
      margin-right: auto;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 29px;
        height: 24px;
        background-image: url("../images/icons/icon-tel.svg");
      }
    }
  }

  &__link {
    text-transform: uppercase;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $box-shadow;
      border-radius: 3px;
    }

    &:active {
      color: $green-dirty;
    }
  }

  &__bottom {
    background-color: $green;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  &__catalog {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    max-width: 240px;
    width: 100%;
    padding: 16px 38px 16px 55px;
    border-radius: 6px;
    color: $green;
    font-weight: 600;
    position: relative;
    transition-property: opacity, background-color;
    transition-duration: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 16px;
      width: 25px;
      height: 17px;
      background-image: url("../images/icons/icon-nav.svg");
    }

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 22px;
      width: 8px;
      height: 4px;
      background-image: url("../images/icons/icon-arrow.svg");
    }

    &:hover {
      background-color: $green-dirty;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .header__dropdown {
        opacity: 1;
      }
    }
  }

  &__dropdown {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    width: 240px;
    max-height: 600px;
    position: absolute;
    z-index: 1;
    background-color: $white;
    right: 0;
    left: 0;
    top: 50px;
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition-property: opacity, background-color, border-bottom;
    transition-duration: 0.3s;

    &--item {
      color: $black;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      height: 50px;
      width: 240px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 24px;
      transition: color 0.3s;

      &:hover {
        color: $green;
      }
    }

    &--item:not(:last-child) {
      border-bottom: 1px solid $grey-border;
    }
  }

  &__form {
    display: flex;
    max-width: 580px;
    width: 100%;
    background-color: $white;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 14px;
      width: 21px;
      height: 20px;
      background-image: url("../images/icons/icon-search.svg");
    }
  }

  &__input {
    outline: transparent;
    border: none;
    padding-left: 55px;
    border-radius: 6px;
  }

  &__submit {
    text-transform: uppercase;
    padding: 15px 50px;
    align-items: center;
    color: $white;
    display: flex;
    max-width: 144px;
    width: 100%;
    background-color: $bg;
    border: none;
    height: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      font-weight: 600;
      background-color: $bg;
      opacity: 1;
      color: $grey;
    }

    &:focus {
      border-radius: 0px 6px 6px 0px;
      box-shadow: 0px 0px 0px 4px $grey-light;
      opacity: 1;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: $white-light;
      border-radius: 3px;
    }

    &--user {
      width: 50px;
      height: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 12px;
        width: 25px;
        height: 32px;
        background-image: url("../images/icons/icon-user.svg");
      }
    }

    &--heart {
      width: 50px;
      height: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 13px;
        right: 9px;
        width: 32px;
        height: 28px;
        background-image: url("../images/icons/icon-heart.svg");
      }
    }

    &--cart {
      width: 50px;
      height: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        right: 9px;
        width: 32px;
        height: 31px;
        background-image: url("../images/icons/icon-cart.svg");
      }
    }
  }

  &__num {
    font-weight: 600;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    top: 5px;
    right: 30px;
    font-size: 10px;
    color: $red;
    text-align: center;
    line-height: 18px;
    align-items: center;
  }
}

.slider {
  &__box {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 600px;
    height: 100vh;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $slider;
    border-radius: 6px;
    max-width: 1290px;
    width: 100%;
    max-height: 340px;
  }

  &__arrow--left.slick-arrow,
  &__arrow--right.slick-arrow {
    position: absolute;
    transition-property: background-color, color;
    transition-duration: 0.3s;

    &:hover {
      background-color: $green-dirty;
    }

    &:focus {
      background-color: $focus-bg;
      box-shadow: 0px 0px 0px 3px $green;
      border-radius: 6px;
    }

    &:active {
      background-color: $active-bg;
    }
  }

  &__arrow--left.slick-arrow {
    top: 250px;
    left: 60px;
  }

  &__arrow--right.slick-arrow {
    top: 250px;
    right: 60px;
  }

  &__arrow--left,
  &__arrow--right {
    width: 60px;
    height: 60px;
    background-color: $slider;
    border-radius: 6px;
    position: relative;
    z-index: 10;
  }

  &__arrow--left:before,
  &__arrow--left:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: $default;
    top: 52%;
    left: 80%;
  }

  &__arrow--left:before {
    transform-origin: 100% -50%;
    transform: translate(-75%, -50%) rotate(45deg);
  }

  &__arrow--left:after {
    transform-origin: 100% 150%;
    transform: translate(-75%, -50%) rotate(-45deg);
  }

  &__arrow--right:before,
  &__arrow--right:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: $default;
    top: 50%;
    left: 20%;
  }

  &__arrow--right:before {
    transform-origin: 100% 170%;
    transform: translate(-75%, -50%) rotate(45deg);
  }

  &__arrow--right:after {
    transform-origin: 100% -70%;
    transform: translate(-75%, -50%) rotate(-45deg);
  }

  &__arrow:hover:before,
  &__arrow:hover:after,
  &__arrow:active:before,
  &__arrow:active:after {
    background-color: $green;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    font-family: "Ruda", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 850px;
    width: 100%;
    margin-top: 24px;
    margin-left: 24px;

    span {
      color: $red;
    }
  }

  &__text {
    margin-top: 12px;
    margin-left: 24px;
    font-size: 16px;
    line-height: 1.4;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    justify-self: flex-start;
    margin: 32px auto 24px 24px;
    border-radius: 6px;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    transition: background-color 0.3s;
    color: $white;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      background-color: $green;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $grey-light;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
    }
  }
}

.advantages {
  background-color: $bg-default;

  &__items {
    display: flex;
    justify-content: space-around;
    line-height: 1.4;
    padding-top: 48px;
    padding-bottom: 30px;
  }

  &__item {
    max-width: 265px;
    width: 100%;
    padding-left: 85px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &--scooter::before {
      background-image: url("../images/icons/icon-scooter.svg");
    }

    &--return::before {
      background-image: url("../images/icons/icon-return.svg");
    }

    &--export::before {
      background-image: url("../images/icons/icon-export24.svg");
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $title;
    margin-bottom: 6px;
  }
}

.top {
  padding: 72px 0;

  &__title {
    padding-bottom: 30px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__btn {
    position: relative;
    color: $default;
    transition-property: color, box-shadow;
    transition-duration: 0.3s;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:hover {
      color: $green;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }

    &:active,
    &--active {
      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: calc(100% - 12px);
        background-color: $green-dirty;
        top: 23px;
        left: 6px;
      }
    }
  }

  .mixitup-control-active {
    .top__btn {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: calc(100% - 12px);
        background-color: $green-dirty;
        top: 23px;
        left: 6px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding-bottom: 48px;
  }

  &__item {
    max-width: 300px;
    width: 100%;
    height: 409px;
    border: 1px solid $grey-border;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    position: relative;
    transition-property: border;
    transition-duration: 0.3s;

    &:hover {
      border: 1px solid $green;

      .top__search::before {
        opacity: 1;
      }
    }
  }

  &__tags{
    height: 50px;
  }

  &__tag {
    width: fit-content;
    color: $white;
    background-color: $green;
    background-size: contain;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    padding: 3px 6px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__favorite {
    position: absolute;
    align-self: end;
    transition-property: fill, color;
    transition-duration: 0.3s;

    &:hover path {
      fill: $yellow;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }

    &:active path {
      fill: $yellow-light;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 36px);
    margin: 0 -18px;
    transition-property: background-color, background-image;
    transition-duration: 0.3s;
  }

  &__search {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $grey-hover;
      background-image: url("../images/top/search-btn.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.3s;
    }
  }

  &__text {
    color: $title;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.03em;
    max-height: 65px;
    height: 100%;
    max-width: 257px;
    width: 100%;
    margin-bottom: 9px;
    margin-top: 18px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: flex-start;
  }

  &__oldPrice {
    color: $grey-border;
    position: relative;

    &::before {
      border-bottom: 1px solid $grey;
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      transform: rotate(-10deg);
    }
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-hover;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
      border-radius: 3px;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $grey-shadow;

      path {
        fill: $grey-light;
      }
    }
  }

  &__add {
    font-size: 18px;
    line-height: 1.3;
    color: $green;
    background-color: $white;
    letter-spacing: 0.03em;
    padding: 12px 26px;
    border: 1px solid $green;
    border-radius: 6px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition-property: background-color, color;
    transition-duration: 0.3s;

    &:hover {
      background-color: $box-shadow;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-focus;
    }

    &:active {
      box-shadow: inset 0px 10px 4px $grey-hover;
    }
  }
}

.banners {
  background-color: $white;
  padding-bottom: 72px;

  &__items {
    width: 300px;
    display: grid;
    grid-template-columns: 630px 300px 300px;
    grid-gap: 30px;
  }

  &__item {
    height: 300px;
    padding: 76px 80px 76px 32px;
    border-radius: 4px;
    color: $default;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &--lg {
      color: $white;
      text-shadow: 1px 1px 0px $grey-shadow;
      padding-right: 100px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 18px;

    &--lg {
      color: $white;
      text-shadow: 1px 1px 0px $grey-shadow;
    }
  }

  &__title {
    font-family: "Ruda-SemiBold", sans-serif;
    font-size: 30px;
    line-height: 1.4;
    color: $default;
    text-transform: uppercase;
    padding-bottom: 12px;

    &--lg {
      color: $white;
      text-shadow: 1px 1px 0px $grey-shadow;
    }
  }

  &__link {
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: $default;
    border-color: $default;
    border-bottom: solid 2px $default;

    &--lg {
      color: $white;
      text-shadow: 1px 1px 0px $grey-shadow;
      border-bottom: solid 2px $white;
    }
  }
}

.promo {
  background-color: $bg-default;
  padding: 72px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__btn {
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      color: $green;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }

    &:active,
    &--active {
      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: calc(100% - 12px);
        background-color: $green-dirty;
        top: 23px;
        left: 6px;
      }
    }
  }

  .mixitup-control-active {
    .top__btn {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: calc(100% - 12px);
        background-color: $green-dirty;
        top: 23px;
        left: 6px;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding-bottom: 48px;
  }

  &__link {
    max-width: 300px;
    width: 100%;
    max-height: 124px;
    height: 100%;
    border: 1px solid $grey-border;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: $white;
    padding: 12px;
    transition: border 0.3s;

    &--new::before {
      content: "НОВИНКА";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $green;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }

    &--hit::before {
      content: "ХИТ";
      position: absolute;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      background-color: $orange;
      padding: 3px 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }

    &:hover {
      border: 1px solid $green;
    }
  }

  &__img {
    max-width: 100px;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    max-width: 164px;
    width: 100%;
  }

  &__text {
    font-weight: 600;
    line-height: 1.4;
    max-height: 60px;
    height: 100%;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    color: $green;
    padding-bottom: 5px;

    &--close {
      color: $red;
    }

    &--ended {
      color: $grey-border;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
  }

  &__newPrice {
    font-size: 20px;
    line-height: 100%;
  }

  &__oldPrice {
    color: $grey;
    position: relative;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;

    &::before {
      content: "";
      border-bottom: 1px solid $grey;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: rotate(-10deg);
    }
  }

  &__star {
    line-height: 1;
    font-weight: 700;
    position: relative;

    &::after {
      position: absolute;
      background-image: url("../images/promo/star.svg");
      content: "";
      width: 16px;
      height: 16px;
      top: -2px;
      left: 25px;
    }
  }

  &__add {
    position: relative;
    background-color: $green;
    border-radius: 6px;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: $white;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      background-color: $green;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $grey-light;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
    }
  }
}

.brands {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: $white;

  &__items {
    display: flex;
    padding: 72px 0 72px;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.news {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-family: "Ruda", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $title;
  }

  &__link {
    color: $green;
    font-weight: 700;
    line-height: 1.3;
    border-bottom: 2px solid $green;
    transition: color 0.3s;

    &:hover {
      color: $green-hover;
      border-color: $green-hover;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-dirty;
      border-radius: 3px;
    }

    &:active {
      border-color: $green-dirty;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 410px;
    width: 100%;
    max-height: 348px;
    height: 100%;
    box-shadow: 0px 3px 3px $grey-shadow;
    border-radius: 6px;

    &:hover .news__text {
      color: $green;
    }
  }

  &__date {
    color: $title;
    width: 65px;
    height: 75px;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__month {
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__day {
    font-family: "Ruda", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }

  &__bottom {
    height: 72px;
    margin: 18px;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: $title;
    transition: color 0.3s;
  }
}

.footer {
  background-color: $bg;
  color: $white;

  &__row:last-child {
    border: 1px solid $white-light;
  }

  &__wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
  }

  &__news {
    display: flex;
    flex-direction: column;
  }

  &__text {
    padding-bottom: 18px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  &__btn {
    background-color: $green;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;
    transition: all 0.3s;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      background-color: $green-black;
      box-shadow: inset 0px 4px 4px $grey-shadow;
      color: $grey-light;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-dirty;
      border-radius: 0px 6px 6px 0px;
    }
  }

  &__input {
    background-color: $white;
    max-width: 180px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px 0px 0px 6px;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 465px;
    width: 100%;
    max-height: 105px;
    height: 100%;
  }

  &__item {
    padding-bottom: 18px;
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    margin-bottom: 18px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .social {
    display: flex;
    color: $white;

    &__item {
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  // &__bottom {
  //   align-items: center;
  //   justify-content: space-between;
  //   display: flex;
  //   padding: 30px 0;
  // }

  &__copy {
    text-transform: uppercase;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
  }

  &__card:not(:last-child) {
    margin-right: 24px;
  }
}

@import "media";