<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>freshok</title>
  <link rel="stylesheet" href="css/index.min.css" />
</head>

<body id="body">
  
{% include 'app/module/_header/_header.html' %}

{% include 'app/module/_main/_main.html' %}

{% include 'app/module/_footer/_footer.html' %}
 
  <script src="js/main.min.js"></script>
</body>

</html>